.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login img {
    margin: 30px auto;
    object-fit: contain;
    width: 140px;
}

.login_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login_container h1 {
    font-size: 25px;
    margin: 20px 0;
}

.login_container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_container form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login_container form input {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #fff;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
}

.login_container form input:focus {
    outline: 2px solid skyblue;
}

.signIn_btn {
    border: none;
    background-color: #f0c14b;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.signIn_btn:hover {
    background-color: var(--primary-shade);
}

.login_container p {
    padding: 10px 0;
    font-size: 14px;
}

.register_btn {
    border: none;
    background-color: #e6e3e3;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.register_btn:hover {
    background-color: #ccc;
}

.login_error {
    padding-top: 5px;
    color: red;
}

.login_msg_login {
    padding: 5px;
    text-align: center;
    color: red;
    font-weight: bold;
}